<app-nav-item></app-nav-item>

<div style="position: fixed;right: 15px;bottom: 20px;z-index: 1;">
  <button class="btn shadow rounded-circle text-white font-weight-bolder mb-2" style="background-color: #252525;" (click)="toTop()"><i class="fas fa-arrow-up"></i></button><br>
  <a class="btn shadow rounded-circle text-white font-weight-bolder mb-2" style="background-color: #876594;" routerLink="/twrrlist">創</a><br>
  <a class="btn shadow rounded-circle text-white font-weight-bolder" style="background-color: #ff7b00;" routerLink="/">加</a>
</div>

<div class="container mt-3">
  <router-outlet></router-outlet>
  </div>